body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.border-bloc{
	border:solid 1px grey;
}
.bloc-left{
	float:left;
}
.bloc-right{
	float:right;
}
.clear{
	clear:both;
}


.hats{
	width:200px;
}
.hat{
	width:160px;
	padding:5px;

	.title{
	text-align: center; 
	}
}
.country{
	margin:10px;
	padding:3px;
	cursor:pointer;

	&.dropped{
		background-color: LightBlue;
	}

	&.animated{
		animation: clear-a-team 1s;
		animation-fill-mode: forwards;
	}

	img{
		margin-right:10px;
		vertical-align:middle
	}
	.undo{
		display:none;
	}
}


.groups{
	width:720px;
}
.group{
	width:180px;

	.title{
		text-align: center;
	}
	.elem{

	}
	.elem.ui-droppable-hover{
		background-color: red;
	}
}
#front {
	.group {
		.elem{
			height:45px;
			.item{
				display: none;
				height:100%;
				width:100%;
				text-align: center;
				&.animated{
					display:block;
					animation: pop-a-team 1.5s;
					animation-fill-mode: forwards;
				}

				img{
					vertical-align: middle;
					margin-right:5px;
				}

				.helper {
				    display: inline-block;
				    height: 100%;
				    vertical-align: middle;
				}

				.title{
					height: 100%;
				    vertical-align: middle;
				}
			}
		}
	}
}

@keyframes pop-a-team {
	0%   { transform: scale(0); display:block; }
	50%   { transform: scale(1.3); }
	100% { transform: scale(1); }
}

@keyframes clear-a-team {
	0%   { transform: scale(1) rotate(0deg); display:block; }
	50%   { transform: scale(0.5) rotate(180deg); }
	100% { transform: scale(0) rotate(360deg); }
}